.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background: #1515157e;
  padding: 0.3rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #e2e8f0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}

.tag:hover {
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}
