.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: #1515157e;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  opacity: 60%;
  color: white;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}

.btn-primary-card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  opacity: 60%;
  color: white;
}

.btn-primary-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}

.btn-outline {
  background: transparent;
  color: #e2e8f0;
  border: 2px solid rgba(6, 6, 26, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  opacity: 90%;
}

.btn-outline:hover {
  color: white;
  transform: translateY(-2px);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}
