.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  gap: clamp(1rem, -0.455rem + 7.27vw, 5rem);
}

.hero-content {
  z-index: 2;
  max-width: 800px;
}

.hero h1 {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  font-weight: 700;
  margin-bottom: clamp(0rem, -0.364rem + 1.82vw, 1rem);
  animation: fadeInUp 1s ease;
}

.hero p {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  margin-bottom: clamp(0.8rem, 0.364rem + 2.18vw, 2rem);
  opacity: 0.9;
  animation: fadeInUp 1s ease 0.2s both;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  animation: fadeInUp 1s ease 0.4s both;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 750px) {
  .hero {
    flex-direction: column; 
    margin-top: 10rem;
  }

  .hero h1 {
    font-weight: 600;
  }

  .hero-buttons {
    flex-direction: row;
  }
}