@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-fadeInUp: fadeInUp 1s ease;
  --skills-grid-cols: repeat(auto-fit, minmax(300px, 1fr));
  --md-skills-grid-cols: repeat(auto-fit, minmax(250px, 1fr));
  --project-grid-cols: repeat(auto-fit, minmax(350px, 1fr));
  --project-padding: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  --md-project-grid-cols: repeat(auto-fit, minmax(250px, 1fr));
  --sm-project-grid-cols: repeat(auto-fit, minmax(200px, 1fr));
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: clamp(2rem, 0.182rem + 9.09vw, 7rem) 0;
}

:root {
  --radius: 0.625rem;
  /* --background: oklch(1 0 0); */
  --background: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --main-background: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --main-foreground: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --main-muted-foreground: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497 / 0.4588235294117647);
  --main-border: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --main-muted-border: oklch(17.659% 0.01033 294.451 / 0.374);
  --main-card: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --main-card-foreground: oklch(0.985 0 0);
  --main-tag-background: oklch(0 0 0 / 0.09019607843137255);
  --main-title: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --main-nav-background: oklch(0.9999999934735462 3.727399553519285e-8 89.87556309590244 / 0.07058823529411765);

  --todo-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --todo-card-background: oklch(0.734808578011004 2.7389251847183936e-8 89.87556307831412);
  --todo-card: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --todo-border: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);

  --weather-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --weather-foreground: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --weather-button-border: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --weather-button-foreground: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --weather-button-background: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --weather-card: oklch(0.734808578011004 2.7389251847183936e-8 89.87556307831412);
  --weather-card-background: oklch(0.6234091747313881 2.323695098720915e-8 89.87556367145795 / 0.6509803921568628);
  --weather-card-foreground: oklch(0.985 0 0);
  --weather-border: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --weather-hover: oklch(0 0 0 / 0.10196078431372549);
}

.dark {
  /* --background: oklch(0.145 0 0); */
  --background: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196);
  /* --background: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196); */
  /* --foreground: oklch(0.985 0 0); */
  --foreground: oklch(0.985 0 0);
  /* --card: oklch(0.205 0 0); */
  --card: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196);
  /* --card-foreground: oklch(0.985 0 0); */
  --card-foreground: oklch(0.9970251851547624 3.7163112415620203e-8 89.87556282044787);
  --card-border: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --main-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497 / 0.4);
  --main-foreground: oklch(0.985 0 0);
  --main-muted-foreground: oklch(0.708 0 0);
  --main-border: oklch(0.985 0 0);
  --main-muted-border: oklch(98.511% 0.00011 271.152 / 0.574);
  --main-card: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196);
  --main-card-foreground: oklch(0.985 0 0);
  --main-tag-background: oklch(0.9999999934735462 3.727399553519285e-8 89.87556309590244 / 0.050980392156862744);
  --main-title: oklch(0.9287612611494641 0.012618740904999124 255.50784649842123);
  --main-nav-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497 / 0.4);

  --todo-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --todo-card-background: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196);
  --todo-card: oklch(0.2519647482199762 9.391732975206237e-9 89.87556376598837 / 0.7137254901960784);
  --todo-border: oklch(0.985 0 0);

  --weather-background: oklch(0.2809402251211821 1.0471764755288723e-8 89.87556321999497);
  --weather-foreground: oklch(0.985 0 0);
  --weather-card: oklch(0.17658560026298514 0.010311812015221094 294.4897830981196);
  --weather-card-background: oklch(0.2519647482199762 9.391732975206237e-9 89.87556376598837 / 0.7137254901960784);
  --weather-card-foreground: oklch(0.985 0 0);
  --weather-border: oklch(0.985 0 0);
  --weather-hover: oklch(0.9999999934735462 3.727399553519285e-8 89.87556309590244 / 0.0392156862745098);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 376px) {
 .container {
  padding: 0;
 } 
}