@media (max-width: 750px) {
  .section-title {
    font-weight: 400;
  }

  .contact-section {
    padding: 1.5rem;
  }

  .contact-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
