.contact-section, .section-title {
  color: white;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: clamp(0.5rem, -0.409rem + 4.55vw, 3rem);
  padding: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
  border-radius: 15px;
  border: 1px solid rgba(6, 6, 26, 0.3);
  background: rgba(6, 6, 26, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}

@media (max-width: 750px) {
  .section-title {
    font-weight: 400;
  }

  .contact-section {
    padding: 1.5rem;
  }
}
