.contact-section {
  color: white;
}

.contact-section .section-title {
  color: white;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(6, 6, 26, 0.3);
  background: rgba(6, 6, 26, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  opacity: 90%;
}
